{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#results').DataTable({
                paging: false
            });
        });
    </script>
{% endblock %}

{% block header %}
    <h3 class="mb-2">ESMF Hash: {{hash}} (branch: <a href="index.html">{{branch}}</a>)</h3><p><a href="../index.html">Top</a></p>
{% endblock %}

{% block content %}
  <table id="results" class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>Combo No.</th>
      <th>Machine</th>
      <th>Compiler</th>
      <th>MPI</th>
      <th>BOPT</th>
      <th>NetCDF</th>
      <th>Collected</th>
      <th>Build</th>
      <th>UTests</th>
      <th>STests</th>
      <th>ETests</th>
      <th>NUOPC</th>
      <th>Artifacts</th>
    </tr>
    </thead>
    <tbody>
    {% for r in result_rows %}
    <tr>
      <td><a href="../  combos/{{r.combination_id}}.html">{{r.combination_id}}</a></td>
      <td>{{r.machine}}</td>
      <td>{{r.compiler}}/{{r.compiler_ver}}</td>
      <td>{{r.mpi}}/{{r.mpi_ver}}</td>
      <td>{{r.bopt}}</td>
      <td>{{r.netcdf}}</td>
      <td>{{r.collect_ts}}</td>
      <td class="{{macros.result_cls_build(r.build)}}">{{r.build}}</td>
      <td class="{{macros.result_cls_pf(r.unit_pass, r.unit_fail)}}">{{r.unit_pass}}/{{r.unit_fail}}</td>
      <td class="{{macros.result_cls_pf(r.system_pass, r.system_fail)}}">{{r.system_pass}}/{{r.system_fail}}</td>
      <td class="{{macros.result_cls_pf(r.example_pass, r.example_fail)}}">{{r.example_pass}}/{{r.example_fail}}</td>
      <td class="{{macros.result_cls_pf(r.nuopc_pass, r.nuopc_fail)}}">{{r.nuopc_pass}}/{{r.nuopc_fail}}</td>
      <td>{{macros.hash_link(r)}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}