{% macro hash_link(row) -%}
<a href="https://github.com/esmf-org/temp-artifacts/tree/{{row.hash}}/{{row.esmf_branch}}/{{row.compiler}}/{{row.compiler_ver}}/{{row.bopt}}/{{row.mpi}}/{{row.mpi_ver }}" target="_blank">{{row.hash[0:7]}}</a>
{%- endmacro %}

{% macro result_cls(r) -%}
{% if r.build == "FAIL" -%}
table-danger
{% elif r.build == "PASS" -%}
  {% if r.unit_pass and r.unit_pass > 0 and r.unit_fail == 0
    and r.system_pass and r.system_pass > 0 and r.system_fail == 0
    and r.example_pass and r.example_pass > 0 and r.example_fail == 0
    and r.nuopc_pass and r.nuopc_pass > 0 and r.nuopc_fail == 0 -%}
  table-success
  {% else -%}
  table-warning
  {% endif -%}
{%- endif %}
{%- endmacro %}

{% macro result_cls_pf(pass, fail) -%}
{% if pass and pass > 0 and fail == 0 -%}
table-success
{% else -%}
table-danger
{% endif -%}
{%- endmacro %}