{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#branches').DataTable({
                paging: false
            });
        });
        $(document).ready(function () {
            $('#combos').DataTable({
                paging: false
            });
        });
    </script>
{% endblock %}

{% block content %}
  <table id="branches" class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th class="text-center">Tested ESMF Branches</th>
    </tr>
    </thead>
    <tbody>
    {% for b in branches %}
    <tr>
      <td><a href="{{b.esmf_branch}}/index.html">{{b.esmf_branch}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <br/>
  <table id="combos"  class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th class="text-center" colspan="10">Combinations</th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Machine</th>
      <th>OS</th>
      <th>Compiler</th>
      <th>Version</th>
      <th>MPI</th>
      <th>Version</th>
      <th>BOPT</th>
      <th>NetCDF</th>
      <th>Last Reported</th>
    </tr>
    </thead>
    <tbody>
    {% for c in combos %}
    <tr>
      <td><a href="combos/{{c.id}}.html">{{c.id}}</a></td>
      <td>{{c.machine}}</td>
      <td>{{c.os}}</td>
      <td>{{c.compiler}}</td>
      <td>{{c.compiler_ver}}</td>
      <td>{{c.mpi}}</td>
      <td>{{c.mpi_ver}}</td>
      <td>{{c.bopt}}</td>
      <td>{{c.netcdf}}</td>
      <td>{{c.last_reported}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}