machine:
  name: breve
  cores_per_node: 4
  scheduler: None

test:
  esmf_branch: [develop]
  nuopc_branch: [develop]
#  filter:
#    compiler: [aocc]

matrix:
  aocc:
    versions:
      5.1.0:
        compiler: AOCC/5.1.0
        netcdf: None
        extra_module: CMake/3.24.3
        mpi:
          mpiuni:
            module: None
        extra_env_vars:
          - ESMF_F90LINKOPTS="-Wl,--allow-shlib-undefined -Wl,--dynamic-linker=/opt/GLIBC2.42/usr/lib64/ld-linux-x86-64.so.2 -Wl,-rpath=/opt/GLIBC2.42/usr/lib64:/opt/aocc/aocc-compiler-5.1.0/lib -lm"
          - ESMF_CXXLINKOPTS="-Wl,--allow-shlib-undefined -Wl,--dynamic-linker=/opt/GLIBC2.42/usr/lib64/ld-linux-x86-64.so.2 -Wl,-rpath=/opt/GLIBC2.42/usr/lib64:/opt/aocc/aocc-compiler-5.1.0/lib -lm"
          - ESMF_CLINKOPTS="-Wl,--allow-shlib-undefined -Wl,--dynamic-linker=/opt/GLIBC2.42/usr/lib64/ld-linux-x86-64.so.2 -Wl,-rpath=/opt/GLIBC2.42/usr/lib64:/opt/aocc/aocc-compiler-5.1.0/lib -lm"
          - ESMF_TRACE_LIB_BUILD=OFF

  gfortranclang:
    versions:
      7.5.0_16.0.3:
        compiler: AOCC/4.1.0
        netcdf: None
        extra_module: CMake/3.24.3
        mpi:
          mpiuni:
            module: None

  gfortran:
    versions:
      7.4.0:
        compiler: GCC/7.4.0/GCC
        netcdf: GCC/7.4.0/netcdf/4.7.4p
        extra_module: CMake/3.24.3
        mpi:
          mpich:
            module: GCC/7.4.0/mpich/3.3.1
        extra_env_vars:
          - ESMF_TEST_NUOPC_JULIA=ON
      11.2.0:
        compiler: GCC/11.2.0/GCC
        netcdf: GCC/11.2.0/netcdf/4.7.4-mpich4.0.0
        extra_module: CMake/3.24.3
        mpi:
          mpich:
            module: GCC/11.2.0/mpich/4.0.0
        extra_env_vars:
          - ESMF_TEST_NUOPC_JULIA=ON
