machine: cori
account: e3sm
queue: regular
constraint: haswell
scheduler: slurm
corespernode: 32
compiler: [intel]
branch: [develop,jedwards/pio_update2]
nuopcbranch: develop

#gfortran:
#     test_time: "3:00:00"
#     versions: 
#       8.3.0: 
#         compiler: gcc/8.3.0
#         netcdf: cray-netcdf/4.6.3.2
#         mpi:
#           mpiuni: 
#             module: None
#           mpi: 
#             module: cray-mpich/7.7.11
#         extra_env_vars: 
#           var1: ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
#     extramodule: PrgEnv-gnu
#     unloadmodule: PrgEnv-intel

intel:
     test_time: "3:00:00"
     versions: 
       19.0.3: 
         compiler: intel/19.0.3.199          
         netcdf: cray-netcdf/4.6.3.2
         mpi:
           mpiuni: 
             module: None
           mpi: 
             module: cray-mpich/7.7.10
         extra_env_vars:
             var1: ESMF_NETCDF_LIBS="-lnetcdf"
             var2: ESMF_NETCDFF_LIBS="-lnetcdff"
             var3: PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/opt/cray/pe/hdf5/1.10.5.2/INTEL/19.0/lib/pkgconfig
             var4: ESMF_PNETCDF="pnetcdf-config"
     unloadmodule: darshan
