machine: discover
account: s2326
#account: j1100
queue: allnccs
partition: compute
scheduler: slurm
corespernode: 28
compiler: [intel,gfortran,pgi]
branch: [develop]
intel:
   versions:
     2020: 
       compiler: comp/intel/19.1.3.304
       netcdf: netcdf4/4.7.4 
       hdf5: hdf5/1.13.0
       mpi:
         intelmpi: 
           module: "mpi/impi/19.1.3.304"
         mpt: 
           module: mpi/sgi-mpt/2.17
           mpi_env_vars: 
            var1: ESMF_F90COMPILER=ifort
            var2: ESMF_CXXCOMPILER=icpc 
            var3: MPICXX_CXX=icpc 
       extra_env_vars:
            var1: ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf -lhdf5_hl -lhdf5"
gfortran:
   versions:
     8.3.0: 
       compiler: comp/gcc/8.3.0
       netcdf: None
       mpi:
           intelmpi: 
             module: mpi/impi/19.1.3.304
           mpt: 
             module: mpi/sgi-mpt/2.17
           mpiuni: 
             module: None
     10.1.0: 
       compiler: comp/gcc/10.1.0
       netcdf: None
       mpi:
           intelmpi:
             module:  mpi/impi/19.1.3.304
       extra_env_vars:
            var1: ESMF_F90COMPILEOPTS="-fallow-argument-mismatch -fallow-invalid-boz"
pgi:
   test_time: "2:00:00"
   build_time: "2:00:00"
   versions:
     2020: 
       compiler: comp/pgi/20.4
       netcdf: None
       mpi:
#           intelmpi: 
#             module: mpi/impi/20.0.0.166 
           mpiuni: 
             module: None
