machine: gaea
account: nggps_emc
queue: normal
partition: None
cluster: c4
scheduler: slurm
corespernode: 24
compiler: [gfortran,intel]
branch: [develop]
nuopcbranch: develop
gfortran:
     test_time: "3:00:00"
     versions: 
       8.3.0: 
         compiler: gcc/8.3.0
         netcdf: cray-netcdf/4.6.3.2
         mpi:
           mpiuni: 
             module: None
           mpi: 
             module: cray-mpich/7.7.11
         extra_env_vars: 
           var1: ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
     extramodule: PrgEnv-gnu
     unloadmodule: PrgEnv-intel
intel:
     test_time: "3:00:00"
     versions: 
       2019.5: 
         compiler: intel/19.0.5.281          
         netcdf: cray-netcdf/4.6.3.2
         mpi:
           mpiuni: 
             module: None
           mpi: 
             module: cray-mpich/7.7.11
         extra_env_vars: 
           var1: LIBRARY_PATH=/sw/gaea-cle7/uasw/ncrc/envs/20200417/opt/linux-sles15-x86_64/gcc-7.5.0/globus-toolkit-6.0.17-klqyvmmhxqsf77ita7vvlw3wgyire7df/lib:/opt/intel/compilers_and_libraries_2019.5.281/linux/mpi/intel64/libfabric/lib:/opt/intel/compilers_and_libraries_2019.5.281/linux/ipp/lib/intel64:/opt/intel/compilers_and_libraries_2019.5.281/linux/compiler/lib/intel64_lin:/opt/intel/compilers_and_libraries_2019.5.281/linux/mkl/lib/intel64_lin:/opt/intel/compilers_and_libraries_2019.5.281/linux/tbb/lib/intel64/gcc4.7:/opt/intel/compilers_and_libraries_2019.5.281/linux/tbb/lib/intel64/gcc4.7:/opt/intel/compilers_and_libraries_2019.5.281/linux/daal/lib/intel64_lin:/opt/cray/pe/atp/2.1.3/libApp:/opt/cray/ugni/6.0.14.0-7.0.2.1_3.15__ge78e5b0.ari/lib64:/opt/cray/pe/pmi/5.0.15/lib64:/opt/cray/alps/6.6.59-7.0.2.1_3.7__g872a8d62.ari/lib64:/opt/cray/wlm_detect/1.3.3-7.0.2.1_2.6__g7109084.ari/lib64:/opt/cray/xpmem/2.2.20-7.0.2.1_2.15__g87eb960.ari/lib64:/opt/cray/udreg/2.3.2-7.0.2.1_2.15__g8175d3d.ari/lib64
           var2: ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"

