machine:
  name: gaeaC6
  lustre: True
  rsync: /tmp
  wait_to_collect: True
  cores_per_node: 128
  scheduler:
    type: slurm
    cluster: c6
    account: c6_test_eval
    queue: normal

test:
  esmf_branch: [develop]
  nuopc_branch: [develop]
  filter:
    compiler: [intel]

matrix:
  aocc:
       test_time: "2:00:00"
       versions:
         5.0.0:
           compiler: aocc/5.0.0
           netcdf: cray-hdf5/1.12.2.11 cray-netcdf/4.9.0.11
           mpi:
             mpiuni:
               module: None
             mpi:
               module: cray-mpich/8.1.32
               mpi_env_vars: [ESMF_MPILAUNCHOPTIONS=--exact]
           extra_env_vars:
             - ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
           extra_module: PrgEnv-aocc git cmake
           unload_module: PrgEnv-intel cray-mpich
  cce:
       test_time: "2:00:00"
       versions:
         20.0.2:
           compiler: cce/20.0.2
           netcdf: cray-hdf5/1.14.3.7 cray-netcdf/4.9.2.1
           mpi:
             mpiuni:
               module: None
             mpi:
               module: cray-mpich/9.0.1
               mpi_env_vars: [ESMF_MPILAUNCHOPTIONS=--exact]
           extra_env_vars:
             - ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
           extra_module: PrgEnv-cray git cmake
           unload_module: PrgEnv-intel cray-mpich
  gfortran:
       test_time: "2:00:00"
       versions:
         12.3.0:
           compiler: gcc-native/12.3
           netcdf: cray-hdf5/1.12.2.9 cray-netcdf/4.9.0.9
           mpi:
             mpiuni:
               module: None
             mpi:
               module: cray-mpich/8.1.28
               mpi_env_vars: [ESMF_MPILAUNCHOPTIONS=--exact]
           extra_env_vars:
             - ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
           extra_module: PrgEnv-gnu git cmake
           unload_module: PrgEnv-intel cray-mpich
  intel:
       test_time: "2:00:00"
       versions:
         2025.2.1:
           compiler: intel/2025.2
           netcdf: cray-hdf5/1.14.3.7 cray-netcdf/4.9.2.1
           mpi:
             mpiuni:
               module: None
             mpi:
               module: cray-mpich/8.1.32
               mpi_env_vars: [ESMF_MPILAUNCHOPTIONS=--exact]
           extra_env_vars:
             - ESMF_NETCDF_INCLUDE="$CRAY_NETCDF_PREFIX/include"
             - ESMF_NETCDF_LIBPATH="$CRAY_NETCDF_PREFIX/lib"
             - ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
           extra_module: PrgEnv-intel git cmake cray-libsci
  nvhpc:
       test_time: "2:00:00"
       versions:
         25.5:
           compiler: nvidia/25.5
           netcdf: cray-hdf5/1.12.2.11 cray-netcdf/4.9.0.11
           mpi:
             mpiuni:
               module: None
             mpi:
               module: cray-mpich/8.1.32
               mpi_env_vars: [ESMF_MPILAUNCHOPTIONS=--exact]
           extra_env_vars:
             - ESMF_NETCDF_LIBS="-lnetcdff -lnetcdf"
           extra_module: PrgEnv-nvidia git cmake
           unload_module: PrgEnv-intel cray-mpich
